footer {
    display: flex;
    background-color: rgba(174, 226, 149, 1);
    align-items: center;
    margin: 3% 0;
    padding: 0 10%;
    height: 130px;
    justify-content: space-between;
}

.footer-icons {
    flex-grow: 0.15;
    display: inherit;
    justify-content: flex-end;
}

.footer-icons img {
    margin-left: 20%;
    height: 50px;
}