header {
    display: flex;
    margin: 3% 0;
}

.logo-contaner {
    flex-grow: 0.22;
}

#logo {
    height: 67.66px;
    float: left;
}

.logo-label {
    margin: 0;
    line-height: 0.45;
    text-align: center;
    padding-top: 0.7em;
}

.logo-label {
    font-size: 1.2em;
}

.brand-font {
    font: 1.6em 'Ribeye', serif;
    padding-left: 0.15em;
}

header ul {
    background-color: rgba(174, 226, 149, 1);
    margin: auto;
    text-transform: uppercase;
}

header a {
    padding: 5px 20px;
}

.header-icons img {
    height: 30px;
    margin: 18% 0 0 30px;
}