.product-section h2{
  text-align: center;
  margin: 3% auto;
}

.card-contaner {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 24px;
}

.card-arrow {
    padding-top: 55%;
}

.card-arrow * {
    color: black;
    text-align: center;
    margin: 5% auto;   
}

.card-arrow div, .card-arrow img {
    width: 76px;
}