#product-section {
  text-align: center;
}

.card-contaner {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 24px;
  padding-bottom: 24px;
}

.see-all-btn {
  padding-top: 55%;  
}

.see-all-btn :first-child {
  /* margin: 7% 0; */
  display: inline-block;
}

.see-all-btn img {
  width: 76px;
  height: 76px;
}