#product-section {
  text-align: center;
}

.card-contaner {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 24px;
  padding-bottom: 24px;
}

.card-contaner .see-all-btn {
  flex-direction: column;
}

.card-contaner .see-all-btn :first-child {
  margin: 7% 0;
}