#root {
  max-width: 1110px;  
  margin: auto;
  /* padding: 2rem; */
}

hr {
  border-top: 6px solid rgba(174, 226, 149, 1);
  border-left: none;
  max-width: 730px;
  margin: 4.5% auto 3% auto;
}

.product-section h2{
  text-align: center;
  margin: 3% auto;
}

.product-section div {
  display: flex;
  justify-content: space-between;;
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}