#root {
  max-width: 1440px;
  margin: auto;
}

#root > *:not(footer, hr) {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: none;
  border-top: 6px solid rgba(174, 226, 149, 1);
  max-width: 730px;
  margin: 4.5% auto 3% auto;
}

.nav-bar {
    list-style-type: none;    
    text-align: center;
    padding: 0;
    overflow: hidden;
    flex-grow: 0.45;   /* nav-bar занимает 45% свободного места в колонтитуле */
}

.nav-bar li { 
    width: 25%;
    float: left;
}

.nav-bar a {
    display: block; /* делает кликабельным весь контейнер, в котором находится ссылка */        
}

.nav-bar a:hover {    
    background-color: rgba(200, 241, 179, 1);
}

.bookmark-link {    
    color: black;
}

#product-section h2{
  text-align: center;
  margin: 3% auto;
}

#product-section div {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 4em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}