:root {
  /* box-sizing: border-box; */
  font-family: Roboto, Arial, sans-serif;

  color-scheme: light;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #9b3349;
  /* background-color: rgba(255, 236, 92, 1); */
}

body {
  /* place-items: center; */  
  /*min-height: 100vh; */
  font-size: 1em;
}

body * {
  font-weight: 400; /* чтобы исключить user agent stylesheet */
  box-sizing: border-box;
}

h1 {
  font-size: 6em;
  margin: 0;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

button {  
  border-radius: 25px;
  border: 1px solid transparent;
  font-size: 1em;
  background-color: rgba(255, 236, 92, 1);
  cursor: pointer;
  text-transform: uppercase;
  height: 43px;
  width: 199px;

  /* transition: border-color 0.25s; */
}
button:hover {
   /*border-color: rgba(181, 33, 7, 1);  цвет Насти */
   border-color: #9b3349;
}

button:active {
  border: none;
  background-color: rgba(174, 226, 149, 1);
}
   
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}  */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
